:root{
    --dark-color: hsl(233, 26%, 24%);

}

*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    color:  hsl(233, 8%, 62%);
    font-weight: 400;
}
/*------------------Nav bar--------------------*/
header{
    position: relative;
    z-index: 13;
    background-color: white;
}
.navbar-item a{
    text-decoration: none;
color: rgb(133, 131, 131);
}
.navbar-toggler {
    position: relative;
    width: 30px;
    height: 30px;
    background: none;
    box-shadow: none !important;

}

.custom-toggler svg {
width: 30px;
height: 30px;
transition: opacity 0.3s ease , transform 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.navbar-toggler .icon-close { display: none; 
        transform: translate(-50%, -50%);

}
.navbar-toggler:not(.collapsed) .icon-close { display: inline; 
        transform: translate(-50%, -50%);

}
.navbar-toggler:not(.collapsed) .icon-hamburger { display: none;
        transform: translate(-50%, -50%);
}
/*----------------------menu---------------------------*/
#mainNav.collapse.show{
    position: absolute;
    background-color: white; 
    width: 82vw;
    height: 40vh;
    border-radius: 8px;
    right: 20%;
    top: 100%;
    padding: 40px  20px ;
    margin: 30px 20px ;
    text-align: center;
    z-index: 9999;
}
  main .dark-bg{

background: linear-gradient( rgb(0,0,0, 0.5),  rgba(255,255,255, 0.1));

}

/*---------------------main-section---------------------------*/
    main{
        text-align: center;
    }
.hero-section{
    background:url('/img/bg-intro-mobile.svg') center / cover no-repeat;
}
.hero-section img{
    position: relative;
    z-index: 0;
    margin-top: -150px;
}
.container-fluid{
    padding: 25px ;
    background-color: hsl(0, 0%, 98%);
}

.btn{
    border-radius:50px !important;
    background-image: linear-gradient( -165deg,hsl(136, 64%, 51%),hsl(192, 69%, 51%));
    color: white !important;
    padding: 10px 20px !important;
    width: 40vw;
}
.fw-bold{
    font-weight: 700;
    color: var(--dark-color);
}
.title{
    font-weight: 400;
    color: var(--dark-color);
}
.sign{
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

.round{
    border-radius: 1rem !important ;
    border: none !important;
}
.rounded-top{
        border-top-left-radius: 1rem  !important ;
        border-top-right-radius: 1rem  !important ;

}
.contain{
    background-color: white !important;
    padding:0 0 15px 0 !important;
    margin-bottom: 17px;
}

/*--------------------------footer--------------------------------*/
footer{
    background-color: var(--dark-color);
}
footer .navbar-item a{
    font-weight: 300;
    color: hsl(220, 16%, 96%)4;
}
/*------------------media-query-------------------------------------------*/
@media (min-width:1000px){
root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
main{
padding-left: 15px;

}
    .hero-section {
        margin: -35px -99px 0 0;
    background:url('/img/bg-intro-desktop.svg') center / cover no-repeat;
}
 .cover{
    overflow: hidden;
    gap: 20px;
}

.menu-bg{
    flex-direction: row-reverse;
    
}
.left{
    display: flex;
    flex-direction: column;
    text-align: left !important;
    align-items: flex-start !important;
}
.btn{
    border-radius:50px !important;
    background-image: linear-gradient( -165deg,hsl(136, 64%, 51%),hsl(192, 69%, 51%));
    color: white !important;
    padding: 10px 20px !important;
    width: 20vw;
}

footer div{
    align-items: end;
    justify-content: center;
}

}